/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* IMG RESET */

img {
    max-width: 100%;
}

/* FONT */

body {
    font-family: 'PT Sans', sans-serif;
}

/* HEADER */
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
}

header {
    background-color: hsl(208.7deg 100% 49.61%);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    color: black;
    background-color: white;
    padding: .7rem;
    border-radius: 2rem;
}


/* HEAD-BAR */

.bars {
    font-size: 25px;
}

.head-menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.menu {
    color: white;
    text-decoration: none;
}

.menu-btn {
    color: black;
    text-decoration: none;
}

@media screen and (min-width: 375px) {
    .head-menu {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .head-menu {
        display: flex;
    }

    .bars {
        display: none;
    }
}

/* MAIN */

/* HERO */

.container-card {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 1.3rem;
}

.col {
    background-color: hsl(207.57deg 100% 85.49%);
    border-radius: 2rem;
    padding: 2rem;
    margin-top: 0px;
    margin-bottom: 20px;
}

.col-large  {
    background-color: hsl(207.57deg 100% 85.49%);
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 20px; 
}

.demo-app {
    color: hsl(208.7deg 100% 49.61%) ;
    text-align: center;
    margin-bottom: 15px;
}

.demo-app-l {
    color: hsl(208.7deg 100% 49.61%) ;
    text-align: center;
    margin-bottom: 15px;
}

.lorem {
    padding: 1rem;
    margin-bottom: 40px;
    text-align: center;
}

.lorem-l {
    padding: 1rem;
    margin-bottom: 40px;
}

.apple-btn {
    color: white;
    background-color:hsl(208.7deg 100% 49.61%) ;
    padding: .7rem;
    border-radius: 20px;  
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: .7rem;
    align-items: center;
}

.phone {
    margin-top: 50px;
}

.icon {
   font-size: 80px;
   text-align: center;
   margin-bottom: 20px;
}


@media screen and (min-width: 376px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .col-large {
        width: 100%;
        
    }

    .col-large {
        width: calc(50% - 1rem);
    }

    .col {
        width: calc(100% / 3 - 4rem / 3);
    }
}

@media screen and (min-width: 768px) {
    .col-large {
        width: 65%;
    }

    .apple-btn {
        display: inline;
        margin-left: 10px;
    }

    .lorem-l  {
        text-align: left;
       
    }

    .demo-app-l {
        text-align: left;
        margin-left: 20px;
    }

    .phone{
        width: 60%;
    }
    
}

@media screen and (min-width: 992px){

    .apple-btn {
        display: inline-block;
    }

    .phone {
        width: 40%;
    }
}

/* STRATEGIC SECTION */

/* PARTNER SECTION */

/* BENEFITS */

/* ABOUTS US */

/* FOOTER */

/* GET STARTED */

/* FOOT-BAR */