/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* IMG RESET */

img {
    max-width: 100%;
}

/* FONT */

body {
    font-family: 'PT Sans', sans-serif;
}

/* HEADER */

/* HERO */

/* MAIN */

/* STRATEGIC SECTION */

/* PARTNER SECTION */

/* BENEFITS */

/* ABOUTS US */

/* FOOTER */

/* GET STARTED */

/* FOOT-BAR */